[MASTER]
disable=
    C0114, # missing-module-docstring
    C0103, # snake case conformity
    C0116, # missing function docstring
    E0710, # raisng non-exception
    C0201, # iterating dictionaries
    C0321, # multiple statemenets
    W0702, # bare except
    W0106, # expression not assigned

[FORMAT]
max-line-length=180
max-args=8